body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  position:absolute;
  left:0px;
  top:26px;
  width:542px;
  height:16px;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2391 {
  position:absolute;
  left:199px;
  top:59px;
  width:78px;
  height:22px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:287px;
  top:59px;
  width:78px;
  height:22px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  word-wrap:break-word;
}
