body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:778px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:38px;
}
#u32 {
  position:absolute;
  left:-1px;
  top:26px;
  width:780px;
  height:38px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:11px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:34px;
  width:50px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34_input {
  font-family:'应用字体';
}
#u35 {
  position:absolute;
  left:0px;
  top:104px;
  width:702px;
  height:255px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  text-align:center;
}
#u37 {
  position:absolute;
  left:0px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u38 {
  position:absolute;
  left:44px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:0px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u40 {
  position:absolute;
  left:177px;
  top:0px;
  width:168px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:0px;
  top:6px;
  width:168px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u42 {
  position:absolute;
  left:345px;
  top:0px;
  width:49px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u44 {
  position:absolute;
  left:394px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:0px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u46 {
  position:absolute;
  left:538px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:0px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u48 {
  position:absolute;
  left:621px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:0px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:48px;
}
#u50 {
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:48px;
  text-align:center;
}
#u51 {
  position:absolute;
  left:0px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:48px;
}
#u52 {
  position:absolute;
  left:44px;
  top:30px;
  width:133px;
  height:48px;
  color:#363636;
  text-align:left;
}
#u53 {
  position:absolute;
  left:3px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:48px;
}
#u54 {
  position:absolute;
  left:177px;
  top:30px;
  width:168px;
  height:48px;
  color:#363636;
  text-align:left;
}
#u55 {
  position:absolute;
  left:3px;
  top:16px;
  width:165px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u56 {
  position:absolute;
  left:345px;
  top:30px;
  width:49px;
  height:48px;
  color:#363636;
  text-align:left;
}
#u57 {
  position:absolute;
  left:3px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u58 {
  position:absolute;
  left:394px;
  top:30px;
  width:144px;
  height:48px;
  color:#434343;
  text-align:left;
}
#u59 {
  position:absolute;
  left:3px;
  top:16px;
  width:141px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:48px;
}
#u60 {
  position:absolute;
  left:538px;
  top:30px;
  width:83px;
  height:48px;
  color:#FF9900;
  text-align:center;
}
#u61 {
  position:absolute;
  left:3px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:48px;
}
#u62 {
  position:absolute;
  left:621px;
  top:30px;
  width:76px;
  height:48px;
  color:#FF9900;
  text-align:center;
}
#u63 {
  position:absolute;
  left:3px;
  top:16px;
  width:73px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
}
#u64 {
  position:absolute;
  left:0px;
  top:78px;
  width:44px;
  height:32px;
  text-align:center;
}
#u65 {
  position:absolute;
  left:0px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u66 {
  position:absolute;
  left:44px;
  top:78px;
  width:133px;
  height:32px;
  color:#363636;
  text-align:left;
}
#u67 {
  position:absolute;
  left:3px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u68 {
  position:absolute;
  left:177px;
  top:78px;
  width:168px;
  height:32px;
  color:#363636;
  text-align:left;
}
#u69 {
  position:absolute;
  left:3px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u70 {
  position:absolute;
  left:345px;
  top:78px;
  width:49px;
  height:32px;
  color:#363636;
  text-align:left;
}
#u71 {
  position:absolute;
  left:3px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u72 {
  position:absolute;
  left:394px;
  top:78px;
  width:144px;
  height:32px;
  color:#434343;
  text-align:left;
}
#u73 {
  position:absolute;
  left:3px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u74 {
  position:absolute;
  left:538px;
  top:78px;
  width:83px;
  height:32px;
  color:#FF9900;
  text-align:center;
}
#u75 {
  position:absolute;
  left:3px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
}
#u76 {
  position:absolute;
  left:621px;
  top:78px;
  width:76px;
  height:32px;
  color:#FF9900;
  text-align:center;
}
#u77 {
  position:absolute;
  left:3px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u78 {
  position:absolute;
  left:0px;
  top:110px;
  width:44px;
  height:30px;
  text-align:center;
}
#u79 {
  position:absolute;
  left:0px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u80 {
  position:absolute;
  left:44px;
  top:110px;
  width:133px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u81 {
  position:absolute;
  left:3px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u82 {
  position:absolute;
  left:177px;
  top:110px;
  width:168px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u83 {
  position:absolute;
  left:3px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u84 {
  position:absolute;
  left:345px;
  top:110px;
  width:49px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u85 {
  position:absolute;
  left:3px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u86 {
  position:absolute;
  left:394px;
  top:110px;
  width:144px;
  height:30px;
  color:#434343;
  text-align:left;
}
#u87 {
  position:absolute;
  left:3px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u88 {
  position:absolute;
  left:538px;
  top:110px;
  width:83px;
  height:30px;
  color:#FF9900;
  text-align:center;
}
#u89 {
  position:absolute;
  left:3px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u90 {
  position:absolute;
  left:621px;
  top:110px;
  width:76px;
  height:30px;
  color:#FF9900;
  text-align:center;
}
#u91 {
  position:absolute;
  left:3px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u92 {
  position:absolute;
  left:0px;
  top:140px;
  width:44px;
  height:30px;
  text-align:center;
}
#u93 {
  position:absolute;
  left:0px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u94 {
  position:absolute;
  left:44px;
  top:140px;
  width:133px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u95 {
  position:absolute;
  left:3px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u96 {
  position:absolute;
  left:177px;
  top:140px;
  width:168px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u97 {
  position:absolute;
  left:3px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u98 {
  position:absolute;
  left:345px;
  top:140px;
  width:49px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u99 {
  position:absolute;
  left:3px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u100 {
  position:absolute;
  left:394px;
  top:140px;
  width:144px;
  height:30px;
  color:#434343;
  text-align:left;
}
#u101 {
  position:absolute;
  left:3px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u102 {
  position:absolute;
  left:538px;
  top:140px;
  width:83px;
  height:30px;
  color:#FF9900;
  text-align:center;
}
#u103 {
  position:absolute;
  left:3px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u104 {
  position:absolute;
  left:621px;
  top:140px;
  width:76px;
  height:30px;
  color:#FF9900;
  text-align:center;
}
#u105 {
  position:absolute;
  left:3px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u106 {
  position:absolute;
  left:0px;
  top:170px;
  width:44px;
  height:30px;
  text-align:center;
}
#u107 {
  position:absolute;
  left:0px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u108 {
  position:absolute;
  left:44px;
  top:170px;
  width:133px;
  height:30px;
  text-align:left;
}
#u109 {
  position:absolute;
  left:3px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u110 {
  position:absolute;
  left:177px;
  top:170px;
  width:168px;
  height:30px;
  text-align:left;
}
#u111 {
  position:absolute;
  left:3px;
  top:7px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u112 {
  position:absolute;
  left:345px;
  top:170px;
  width:49px;
  height:30px;
  text-align:left;
}
#u113 {
  position:absolute;
  left:3px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u114 {
  position:absolute;
  left:394px;
  top:170px;
  width:144px;
  height:30px;
  text-align:left;
}
#u115 {
  position:absolute;
  left:3px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u116 {
  position:absolute;
  left:538px;
  top:170px;
  width:83px;
  height:30px;
  text-align:left;
}
#u117 {
  position:absolute;
  left:3px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u118 {
  position:absolute;
  left:621px;
  top:170px;
  width:76px;
  height:30px;
  text-align:left;
}
#u119 {
  position:absolute;
  left:3px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u120 {
  position:absolute;
  left:0px;
  top:200px;
  width:44px;
  height:30px;
  text-align:center;
}
#u121 {
  position:absolute;
  left:0px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u122 {
  position:absolute;
  left:44px;
  top:200px;
  width:133px;
  height:30px;
  text-align:left;
}
#u123 {
  position:absolute;
  left:3px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u124 {
  position:absolute;
  left:177px;
  top:200px;
  width:168px;
  height:30px;
  text-align:left;
}
#u125 {
  position:absolute;
  left:3px;
  top:7px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u126 {
  position:absolute;
  left:345px;
  top:200px;
  width:49px;
  height:30px;
  text-align:left;
}
#u127 {
  position:absolute;
  left:3px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u128 {
  position:absolute;
  left:394px;
  top:200px;
  width:144px;
  height:30px;
  text-align:left;
}
#u129 {
  position:absolute;
  left:3px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u130 {
  position:absolute;
  left:538px;
  top:200px;
  width:83px;
  height:30px;
  text-align:left;
}
#u131 {
  position:absolute;
  left:3px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u132 {
  position:absolute;
  left:621px;
  top:200px;
  width:76px;
  height:30px;
  text-align:left;
}
#u133 {
  position:absolute;
  left:3px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:230px;
  width:44px;
  height:20px;
  text-align:center;
}
#u135 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u136 {
  position:absolute;
  left:44px;
  top:230px;
  width:133px;
  height:20px;
  text-align:left;
}
#u137 {
  position:absolute;
  left:3px;
  top:2px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u138 {
  position:absolute;
  left:177px;
  top:230px;
  width:168px;
  height:20px;
  text-align:left;
}
#u139 {
  position:absolute;
  left:3px;
  top:2px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u140 {
  position:absolute;
  left:345px;
  top:230px;
  width:49px;
  height:20px;
  text-align:left;
}
#u141 {
  position:absolute;
  left:3px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
}
#u142 {
  position:absolute;
  left:394px;
  top:230px;
  width:144px;
  height:20px;
  text-align:left;
}
#u143 {
  position:absolute;
  left:3px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u144 {
  position:absolute;
  left:538px;
  top:230px;
  width:83px;
  height:20px;
  text-align:left;
}
#u145 {
  position:absolute;
  left:3px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u146 {
  position:absolute;
  left:621px;
  top:230px;
  width:76px;
  height:20px;
  text-align:left;
}
#u147 {
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:74px;
  width:50px;
  height:25px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u148_input {
  font-family:'应用字体';
}
#u149 {
  position:absolute;
  left:70px;
  top:74px;
  width:50px;
  height:25px;
}
#u149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u149_input {
  font-family:'应用字体';
}
#u150 {
  position:absolute;
  left:7px;
  top:124px;
  width:20px;
  height:16px;
}
#u151 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u152 {
  position:absolute;
  left:7px;
  top:168px;
  width:20px;
  height:16px;
}
#u153 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u154 {
  position:absolute;
  left:7px;
  top:201px;
  width:20px;
  height:16px;
}
#u155 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u156 {
  position:absolute;
  left:7px;
  top:234px;
  width:20px;
  height:16px;
}
#u157 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u158 {
  position:absolute;
  left:16px;
  top:38px;
  width:80px;
  height:16px;
  color:#000000;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u160 {
  position:absolute;
  left:0px;
  top:419px;
  width:739px;
  height:89px;
  text-align:left;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:735px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:36px;
}
#u162 {
  position:absolute;
  left:0px;
  top:357px;
  width:697px;
  height:36px;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:96px;
  top:34px;
  width:65px;
  height:22px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u164_input {
  font-family:'应用字体';
}
#u164_input:disabled {
  color:grayText;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000000;
}
#u165 {
  position:absolute;
  left:7px;
  top:10px;
  width:154px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000000;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:170px;
  top:34px;
  width:65px;
  height:20px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u167_input {
  font-family:'应用字体';
}
#u167_input:disabled {
  color:grayText;
}
#u168 {
  position:absolute;
  left:241px;
  top:34px;
  width:65px;
  height:20px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u168_input {
  font-family:'应用字体';
}
#u168_input:disabled {
  color:grayText;
}
