body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:739px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1992 {
  position:absolute;
  left:155px;
  top:13px;
  width:153px;
  height:25px;
}
#u1992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1992_input {
  font-family:'应用字体';
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1993 {
  position:absolute;
  left:42px;
  top:17px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1995 {
  position:absolute;
  left:35px;
  top:175px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1997 {
  position:absolute;
  left:148px;
  top:175px;
  width:562px;
  height:72px;
}
#u1997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1997_input {
  font-family:'应用字体';
}
#u1998 {
  position:absolute;
  left:165px;
  top:124px;
  width:150px;
  height:22px;
}
#u1998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1998_input {
  font-family:'应用字体';
}
#u1998_input:disabled {
  color:grayText;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1999 {
  position:absolute;
  left:52px;
  top:127px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2001 {
  position:absolute;
  left:155px;
  top:45px;
  width:153px;
  height:25px;
}
#u2001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2001_input {
  font-family:'应用字体';
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2002 {
  position:absolute;
  left:42px;
  top:49px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2004 {
  position:absolute;
  left:31px;
  top:260px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2006 {
  position:absolute;
  left:141px;
  top:273px;
  width:574px;
  height:105px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2008 {
  position:absolute;
  left:0px;
  top:6px;
  width:217px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:217px;
  top:0px;
  width:206px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2010 {
  position:absolute;
  left:0px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:423px;
  top:0px;
  width:71px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2012 {
  position:absolute;
  left:0px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:494px;
  top:0px;
  width:75px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2014 {
  position:absolute;
  left:0px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:30px;
  width:217px;
  height:30px;
  text-decoration:underline;
  color:#FF9900;
  text-align:left;
}
#u2016 {
  position:absolute;
  left:3px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:217px;
  top:30px;
  width:206px;
  height:30px;
  text-decoration:underline;
  color:#FF9900;
  text-align:left;
}
#u2018 {
  position:absolute;
  left:3px;
  top:7px;
  width:203px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:423px;
  top:30px;
  width:71px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u2020 {
  position:absolute;
  left:3px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:494px;
  top:30px;
  width:75px;
  height:30px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u2022 {
  position:absolute;
  left:3px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u2023 {
  position:absolute;
  left:0px;
  top:60px;
  width:217px;
  height:40px;
  text-decoration:underline;
  color:#FF9900;
  text-align:left;
}
#u2024 {
  position:absolute;
  left:3px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u2025 {
  position:absolute;
  left:217px;
  top:60px;
  width:206px;
  height:40px;
  text-decoration:underline;
  color:#FF9900;
  text-align:left;
}
#u2026 {
  position:absolute;
  left:3px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u2027 {
  position:absolute;
  left:423px;
  top:60px;
  width:71px;
  height:40px;
  color:#363636;
  text-align:left;
}
#u2028 {
  position:absolute;
  left:3px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u2029 {
  position:absolute;
  left:494px;
  top:60px;
  width:75px;
  height:40px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u2030 {
  position:absolute;
  left:3px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2032 {
  position:absolute;
  left:141px;
  top:258px;
  width:15px;
  height:15px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u2034 {
  position:absolute;
  left:160px;
  top:257px;
  width:29px;
  height:16px;
  color:#FF9900;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2036 {
  position:absolute;
  left:399px;
  top:637px;
  width:140px;
  height:25px;
}
#u2036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2036_input {
  font-family:'应用字体';
}
#u2037 {
  position:absolute;
  left:570px;
  top:637px;
  width:140px;
  height:25px;
}
#u2037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2037_input {
  font-family:'应用字体';
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u2038 {
  position:absolute;
  left:457px;
  top:103px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:569px;
  top:102px;
  width:150px;
  height:25px;
}
#u2040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2040_input {
  font-family:'应用字体';
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2041 {
  position:absolute;
  left:459px;
  top:71px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2043 {
  position:absolute;
  left:457px;
  top:14px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2045 {
  position:absolute;
  left:569px;
  top:10px;
  width:150px;
  height:25px;
}
#u2045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2045_input {
  font-family:'应用字体';
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047 {
  position:absolute;
  left:569px;
  top:65px;
  width:150px;
  height:25px;
}
#u2047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2047_input {
  font-family:'应用字体';
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u2048 {
  position:absolute;
  left:699px;
  top:65px;
  width:20px;
  height:25px;
  opacity:0.8;
}
#u2049 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
  text-align:left;
}
#u2050 {
  position:absolute;
  left:0px;
  top:672px;
  width:739px;
  height:89px;
  color:#990000;
  text-align:left;
}
#u2051 {
  position:absolute;
  left:2px;
  top:2px;
  width:735px;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u2052 {
  position:absolute;
  left:86px;
  top:85px;
  width:63px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2054 {
  position:absolute;
  left:151px;
  top:81px;
  width:150px;
  height:25px;
}
#u2054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2054_input {
  font-family:'应用字体';
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u2055 {
  position:absolute;
  left:295px;
  top:87px;
  width:23px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2057 {
  position:absolute;
  left:468px;
  top:399px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:581px;
  top:395px;
  width:150px;
  height:25px;
}
#u2059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2059_input {
  font-family:'应用字体';
}
#u2060 {
  position:absolute;
  left:167px;
  top:395px;
  width:150px;
  height:25px;
}
#u2060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2060_input {
  font-family:'应用字体';
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2061 {
  position:absolute;
  left:54px;
  top:399px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2063 {
  position:absolute;
  left:54px;
  top:461px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2065 {
  position:absolute;
  left:164px;
  top:457px;
  width:567px;
  height:66px;
}
#u2065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u2065_input {
  font-family:'应用字体';
}
#u2066 {
  position:absolute;
  left:344px;
  top:122px;
  width:187px;
  height:22px;
}
#u2066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2066_input {
  font-family:'应用字体';
}
#u2066_input:disabled {
  color:grayText;
}
#u2067 {
  position:absolute;
  left:167px;
  top:425px;
  width:150px;
  height:25px;
}
#u2067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2067_input {
  font-family:'应用字体';
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2068 {
  position:absolute;
  left:54px;
  top:429px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2070 {
  position:absolute;
  left:52px;
  top:536px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:162px;
  top:560px;
  width:574px;
  height:65px;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2074 {
  position:absolute;
  left:0px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:250px;
  top:0px;
  width:237px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2076 {
  position:absolute;
  left:0px;
  top:6px;
  width:237px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:487px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2078 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:30px;
  text-decoration:underline;
  color:#FF9900;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:3px;
  top:7px;
  width:247px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u2081 {
  position:absolute;
  left:250px;
  top:30px;
  width:237px;
  height:30px;
  text-decoration:underline;
  color:#FF9900;
  text-align:left;
}
#u2082 {
  position:absolute;
  left:3px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:487px;
  top:30px;
  width:82px;
  height:30px;
  color:#363636;
  text-align:left;
}
#u2084 {
  position:absolute;
  left:3px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2086 {
  position:absolute;
  left:162px;
  top:537px;
  width:15px;
  height:15px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u2088 {
  position:absolute;
  left:181px;
  top:536px;
  width:29px;
  height:16px;
  color:#FF9900;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:570px;
  top:106px;
  width:150px;
  height:80px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2092 {
  position:absolute;
  left:453px;
  top:41px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2094 {
  position:absolute;
  left:565px;
  top:37px;
  width:150px;
  height:25px;
}
#u2094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2094_input {
  font-family:'应用字体';
}
