body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u560 {
  position:absolute;
  left:68px;
  top:44px;
  width:813px;
  height:71px;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u561 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u562 {
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  word-wrap:break-word;
}
#u563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u563 {
  position:absolute;
  left:162px;
  top:0px;
  width:138px;
  height:30px;
}
#u564 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u565 {
  position:absolute;
  left:300px;
  top:0px;
  width:192px;
  height:30px;
}
#u566 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u567 {
  position:absolute;
  left:492px;
  top:0px;
  width:151px;
  height:30px;
}
#u568 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u569 {
  position:absolute;
  left:643px;
  top:0px;
  width:165px;
  height:30px;
}
#u570 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u571 {
  position:absolute;
  left:0px;
  top:30px;
  width:162px;
  height:36px;
}
#u572 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u573 {
  position:absolute;
  left:162px;
  top:30px;
  width:138px;
  height:36px;
}
#u574 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u575 {
  position:absolute;
  left:300px;
  top:30px;
  width:192px;
  height:36px;
  font-size:9px;
}
#u576 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u577 {
  position:absolute;
  left:492px;
  top:30px;
  width:151px;
  height:36px;
}
#u578 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u579 {
  position:absolute;
  left:643px;
  top:30px;
  width:165px;
  height:36px;
}
#u580 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
