body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:101px;
}
#u1746 {
  position:absolute;
  left:0px;
  top:39px;
  width:852px;
  height:101px;
  color:#FFFFFF;
}
#u1747 {
  position:absolute;
  left:2px;
  top:42px;
  width:848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748 {
  position:absolute;
  left:703px;
  top:102px;
  width:50px;
  height:25px;
}
#u1748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1748_input {
  font-family:'应用字体';
}
#u1749 {
  position:absolute;
  left:0px;
  top:191px;
  width:930px;
  height:453px;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u1750 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
  text-align:center;
}
#u1751 {
  position:absolute;
  left:0px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u1752 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:32px;
  text-align:left;
}
#u1753 {
  position:absolute;
  left:0px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u1754 {
  position:absolute;
  left:124px;
  top:0px;
  width:82px;
  height:32px;
  text-align:left;
}
#u1755 {
  position:absolute;
  left:0px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u1756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u1756 {
  position:absolute;
  left:206px;
  top:0px;
  width:87px;
  height:32px;
  text-align:left;
}
#u1757 {
  position:absolute;
  left:0px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u1758 {
  position:absolute;
  left:293px;
  top:0px;
  width:72px;
  height:32px;
  text-align:left;
}
#u1759 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u1760 {
  position:absolute;
  left:365px;
  top:0px;
  width:95px;
  height:32px;
  text-align:left;
}
#u1761 {
  position:absolute;
  left:0px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u1762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1762 {
  position:absolute;
  left:460px;
  top:0px;
  width:97px;
  height:32px;
  text-align:left;
}
#u1763 {
  position:absolute;
  left:0px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u1764 {
  position:absolute;
  left:557px;
  top:0px;
  width:87px;
  height:32px;
  text-align:left;
}
#u1765 {
  position:absolute;
  left:0px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u1766 {
  position:absolute;
  left:644px;
  top:0px;
  width:67px;
  height:32px;
  text-align:left;
}
#u1767 {
  position:absolute;
  left:0px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u1768 {
  position:absolute;
  left:711px;
  top:0px;
  width:55px;
  height:32px;
  text-align:left;
}
#u1769 {
  position:absolute;
  left:0px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u1770 {
  position:absolute;
  left:766px;
  top:0px;
  width:56px;
  height:32px;
  text-align:left;
}
#u1771 {
  position:absolute;
  left:0px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u1772 {
  position:absolute;
  left:822px;
  top:0px;
  width:103px;
  height:32px;
  text-align:left;
}
#u1773 {
  position:absolute;
  left:0px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:52px;
}
#u1774 {
  position:absolute;
  left:0px;
  top:32px;
  width:22px;
  height:52px;
  text-align:center;
}
#u1775 {
  position:absolute;
  left:0px;
  top:18px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u1776 {
  position:absolute;
  left:22px;
  top:32px;
  width:102px;
  height:52px;
  color:#FF9900;
  text-align:left;
}
#u1777 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:52px;
}
#u1778 {
  position:absolute;
  left:124px;
  top:32px;
  width:82px;
  height:52px;
  text-align:left;
}
#u1779 {
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u1780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u1780 {
  position:absolute;
  left:206px;
  top:32px;
  width:87px;
  height:52px;
  text-align:left;
}
#u1781 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1782 {
  position:absolute;
  left:293px;
  top:32px;
  width:72px;
  height:52px;
  text-align:left;
}
#u1783 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u1784 {
  position:absolute;
  left:365px;
  top:32px;
  width:95px;
  height:52px;
  text-align:left;
}
#u1785 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u1786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1786 {
  position:absolute;
  left:460px;
  top:32px;
  width:97px;
  height:52px;
  text-align:left;
}
#u1787 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u1788 {
  position:absolute;
  left:557px;
  top:32px;
  width:87px;
  height:52px;
  text-align:left;
}
#u1789 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u1790 {
  position:absolute;
  left:644px;
  top:32px;
  width:67px;
  height:52px;
  text-align:left;
}
#u1791 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u1792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u1792 {
  position:absolute;
  left:711px;
  top:32px;
  width:55px;
  height:52px;
  text-align:left;
}
#u1793 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1794 {
  position:absolute;
  left:766px;
  top:32px;
  width:56px;
  height:52px;
  text-align:left;
}
#u1795 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u1796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u1796 {
  position:absolute;
  left:822px;
  top:32px;
  width:103px;
  height:52px;
  text-align:left;
}
#u1797 {
  position:absolute;
  left:2px;
  top:18px;
  width:99px;
  word-wrap:break-word;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:68px;
}
#u1800 {
  position:absolute;
  left:0px;
  top:84px;
  width:22px;
  height:68px;
  text-align:center;
}
#u1801 {
  position:absolute;
  left:0px;
  top:26px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u1802 {
  position:absolute;
  left:22px;
  top:84px;
  width:102px;
  height:68px;
  color:#FF9900;
  text-align:left;
}
#u1803 {
  position:absolute;
  left:2px;
  top:26px;
  width:98px;
  word-wrap:break-word;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u1804 {
  position:absolute;
  left:124px;
  top:84px;
  width:82px;
  height:68px;
  text-align:left;
}
#u1805 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u1806 {
  position:absolute;
  left:206px;
  top:84px;
  width:87px;
  height:68px;
  text-align:left;
}
#u1807 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u1808 {
  position:absolute;
  left:293px;
  top:84px;
  width:72px;
  height:68px;
  text-align:left;
}
#u1809 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1810 {
  position:absolute;
  left:365px;
  top:84px;
  width:95px;
  height:68px;
  text-align:left;
}
#u1811 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u1812 {
  position:absolute;
  left:460px;
  top:84px;
  width:97px;
  height:68px;
  text-align:left;
}
#u1813 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  word-wrap:break-word;
}
#u1814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u1814 {
  position:absolute;
  left:557px;
  top:84px;
  width:87px;
  height:68px;
  text-align:left;
}
#u1815 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u1816 {
  position:absolute;
  left:644px;
  top:84px;
  width:67px;
  height:68px;
  text-align:left;
}
#u1817 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u1818 {
  position:absolute;
  left:711px;
  top:84px;
  width:55px;
  height:68px;
  text-align:left;
}
#u1819 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u1820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u1820 {
  position:absolute;
  left:766px;
  top:84px;
  width:56px;
  height:68px;
  text-align:left;
}
#u1821 {
  position:absolute;
  left:2px;
  top:26px;
  width:52px;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
}
#u1822 {
  position:absolute;
  left:822px;
  top:84px;
  width:103px;
  height:68px;
  color:#FF9900;
  text-align:left;
}
#u1823 {
  position:absolute;
  left:2px;
  top:26px;
  width:99px;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:68px;
}
#u1824 {
  position:absolute;
  left:0px;
  top:152px;
  width:22px;
  height:68px;
  text-align:center;
}
#u1825 {
  position:absolute;
  left:0px;
  top:26px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u1826 {
  position:absolute;
  left:22px;
  top:152px;
  width:102px;
  height:68px;
  color:#FF9900;
  text-align:left;
}
#u1827 {
  position:absolute;
  left:2px;
  top:26px;
  width:98px;
  word-wrap:break-word;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u1828 {
  position:absolute;
  left:124px;
  top:152px;
  width:82px;
  height:68px;
  text-align:left;
}
#u1829 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u1830 {
  position:absolute;
  left:206px;
  top:152px;
  width:87px;
  height:68px;
  text-align:left;
}
#u1831 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u1832 {
  position:absolute;
  left:293px;
  top:152px;
  width:72px;
  height:68px;
  text-align:left;
}
#u1833 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u1834 {
  position:absolute;
  left:365px;
  top:152px;
  width:95px;
  height:68px;
  text-align:left;
}
#u1835 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u1836 {
  position:absolute;
  left:460px;
  top:152px;
  width:97px;
  height:68px;
  text-align:left;
}
#u1837 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u1838 {
  position:absolute;
  left:557px;
  top:152px;
  width:87px;
  height:68px;
  text-align:left;
}
#u1839 {
  position:absolute;
  left:2px;
  top:26px;
  width:83px;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u1840 {
  position:absolute;
  left:644px;
  top:152px;
  width:67px;
  height:68px;
  text-align:left;
}
#u1841 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u1842 {
  position:absolute;
  left:711px;
  top:152px;
  width:55px;
  height:68px;
  text-align:left;
}
#u1843 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u1844 {
  position:absolute;
  left:766px;
  top:152px;
  width:56px;
  height:68px;
  text-align:left;
}
#u1845 {
  position:absolute;
  left:2px;
  top:26px;
  width:52px;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
}
#u1846 {
  position:absolute;
  left:822px;
  top:152px;
  width:103px;
  height:68px;
  color:#FF9900;
  text-align:left;
}
#u1847 {
  position:absolute;
  left:2px;
  top:26px;
  width:99px;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:52px;
}
#u1848 {
  position:absolute;
  left:0px;
  top:220px;
  width:22px;
  height:52px;
  text-align:center;
}
#u1849 {
  position:absolute;
  left:0px;
  top:18px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u1850 {
  position:absolute;
  left:22px;
  top:220px;
  width:102px;
  height:52px;
  color:#FF9900;
  text-align:left;
}
#u1851 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:52px;
}
#u1852 {
  position:absolute;
  left:124px;
  top:220px;
  width:82px;
  height:52px;
  text-align:left;
}
#u1853 {
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u1854 {
  position:absolute;
  left:206px;
  top:220px;
  width:87px;
  height:52px;
  text-align:left;
}
#u1855 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1856 {
  position:absolute;
  left:293px;
  top:220px;
  width:72px;
  height:52px;
  text-align:left;
}
#u1857 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u1858 {
  position:absolute;
  left:365px;
  top:220px;
  width:95px;
  height:52px;
  text-align:left;
}
#u1859 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1860 {
  position:absolute;
  left:460px;
  top:220px;
  width:97px;
  height:52px;
  text-align:left;
}
#u1861 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u1862 {
  position:absolute;
  left:557px;
  top:220px;
  width:87px;
  height:52px;
  text-align:left;
}
#u1863 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u1864 {
  position:absolute;
  left:644px;
  top:220px;
  width:67px;
  height:52px;
  text-align:left;
}
#u1865 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u1866 {
  position:absolute;
  left:711px;
  top:220px;
  width:55px;
  height:52px;
  text-align:left;
}
#u1867 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1868 {
  position:absolute;
  left:766px;
  top:220px;
  width:56px;
  height:52px;
  text-align:left;
}
#u1869 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u1870 {
  position:absolute;
  left:822px;
  top:220px;
  width:103px;
  height:52px;
  color:#FF9900;
  text-align:left;
}
#u1871 {
  position:absolute;
  left:2px;
  top:18px;
  width:99px;
  word-wrap:break-word;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:71px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:272px;
  width:22px;
  height:71px;
  text-align:center;
}
#u1873 {
  position:absolute;
  left:0px;
  top:28px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u1874 {
  position:absolute;
  left:22px;
  top:272px;
  width:102px;
  height:71px;
  color:#FF9900;
  text-align:left;
}
#u1875 {
  position:absolute;
  left:2px;
  top:28px;
  width:98px;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
}
#u1876 {
  position:absolute;
  left:124px;
  top:272px;
  width:82px;
  height:71px;
  text-align:left;
}
#u1877 {
  position:absolute;
  left:2px;
  top:28px;
  width:78px;
  word-wrap:break-word;
}
#u1878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:71px;
}
#u1878 {
  position:absolute;
  left:206px;
  top:272px;
  width:87px;
  height:71px;
  text-align:left;
}
#u1879 {
  position:absolute;
  left:2px;
  top:28px;
  width:83px;
  word-wrap:break-word;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u1880 {
  position:absolute;
  left:293px;
  top:272px;
  width:72px;
  height:71px;
  text-align:left;
}
#u1881 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:71px;
}
#u1882 {
  position:absolute;
  left:365px;
  top:272px;
  width:95px;
  height:71px;
  text-align:left;
}
#u1883 {
  position:absolute;
  left:2px;
  top:28px;
  width:91px;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:71px;
}
#u1884 {
  position:absolute;
  left:460px;
  top:272px;
  width:97px;
  height:71px;
  text-align:left;
}
#u1885 {
  position:absolute;
  left:2px;
  top:28px;
  width:93px;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:71px;
}
#u1886 {
  position:absolute;
  left:557px;
  top:272px;
  width:87px;
  height:71px;
  text-align:left;
}
#u1887 {
  position:absolute;
  left:2px;
  top:28px;
  width:83px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:71px;
}
#u1888 {
  position:absolute;
  left:644px;
  top:272px;
  width:67px;
  height:71px;
  text-align:left;
}
#u1889 {
  position:absolute;
  left:2px;
  top:28px;
  width:63px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:71px;
}
#u1890 {
  position:absolute;
  left:711px;
  top:272px;
  width:55px;
  height:71px;
  text-align:left;
}
#u1891 {
  position:absolute;
  left:2px;
  top:28px;
  width:51px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u1892 {
  position:absolute;
  left:766px;
  top:272px;
  width:56px;
  height:71px;
  text-align:left;
}
#u1893 {
  position:absolute;
  left:2px;
  top:28px;
  width:52px;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:71px;
}
#u1894 {
  position:absolute;
  left:822px;
  top:272px;
  width:103px;
  height:71px;
  color:#FF9900;
  text-align:left;
}
#u1895 {
  position:absolute;
  left:2px;
  top:28px;
  width:99px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:52px;
}
#u1896 {
  position:absolute;
  left:0px;
  top:343px;
  width:22px;
  height:52px;
  text-align:center;
}
#u1897 {
  position:absolute;
  left:0px;
  top:18px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u1898 {
  position:absolute;
  left:22px;
  top:343px;
  width:102px;
  height:52px;
  color:#FF9900;
  text-align:left;
}
#u1899 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:52px;
}
#u1900 {
  position:absolute;
  left:124px;
  top:343px;
  width:82px;
  height:52px;
  text-align:left;
}
#u1901 {
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u1902 {
  position:absolute;
  left:206px;
  top:343px;
  width:87px;
  height:52px;
  text-align:left;
}
#u1903 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1904 {
  position:absolute;
  left:293px;
  top:343px;
  width:72px;
  height:52px;
  text-align:left;
}
#u1905 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u1906 {
  position:absolute;
  left:365px;
  top:343px;
  width:95px;
  height:52px;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1908 {
  position:absolute;
  left:460px;
  top:343px;
  width:97px;
  height:52px;
  text-align:left;
}
#u1909 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u1910 {
  position:absolute;
  left:557px;
  top:343px;
  width:87px;
  height:52px;
  text-align:left;
}
#u1911 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u1912 {
  position:absolute;
  left:644px;
  top:343px;
  width:67px;
  height:52px;
  text-align:left;
}
#u1913 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u1914 {
  position:absolute;
  left:711px;
  top:343px;
  width:55px;
  height:52px;
  text-align:left;
}
#u1915 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1916 {
  position:absolute;
  left:766px;
  top:343px;
  width:56px;
  height:52px;
  text-align:left;
}
#u1917 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u1918 {
  position:absolute;
  left:822px;
  top:343px;
  width:103px;
  height:52px;
  color:#FF9900;
  text-align:left;
}
#u1919 {
  position:absolute;
  left:2px;
  top:18px;
  width:99px;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:53px;
}
#u1920 {
  position:absolute;
  left:0px;
  top:395px;
  width:22px;
  height:53px;
  text-align:center;
}
#u1921 {
  position:absolute;
  left:0px;
  top:18px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
}
#u1922 {
  position:absolute;
  left:22px;
  top:395px;
  width:102px;
  height:53px;
  color:#FF9900;
  text-align:left;
}
#u1923 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:53px;
}
#u1924 {
  position:absolute;
  left:124px;
  top:395px;
  width:82px;
  height:53px;
  text-align:left;
}
#u1925 {
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u1926 {
  position:absolute;
  left:206px;
  top:395px;
  width:87px;
  height:53px;
  text-align:left;
}
#u1927 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:53px;
}
#u1928 {
  position:absolute;
  left:293px;
  top:395px;
  width:72px;
  height:53px;
  text-align:left;
}
#u1929 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
}
#u1930 {
  position:absolute;
  left:365px;
  top:395px;
  width:95px;
  height:53px;
  text-align:left;
}
#u1931 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:53px;
}
#u1932 {
  position:absolute;
  left:460px;
  top:395px;
  width:97px;
  height:53px;
  text-align:left;
}
#u1933 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u1934 {
  position:absolute;
  left:557px;
  top:395px;
  width:87px;
  height:53px;
  text-align:left;
}
#u1935 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:53px;
}
#u1936 {
  position:absolute;
  left:644px;
  top:395px;
  width:67px;
  height:53px;
  text-align:left;
}
#u1937 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:53px;
}
#u1938 {
  position:absolute;
  left:711px;
  top:395px;
  width:55px;
  height:53px;
  text-align:left;
}
#u1939 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:53px;
}
#u1940 {
  position:absolute;
  left:766px;
  top:395px;
  width:56px;
  height:53px;
  text-align:left;
}
#u1941 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:53px;
}
#u1942 {
  position:absolute;
  left:822px;
  top:395px;
  width:103px;
  height:53px;
  color:#FF9900;
  text-align:left;
}
#u1943 {
  position:absolute;
  left:2px;
  top:18px;
  width:99px;
  word-wrap:break-word;
}
#u1944 {
  position:absolute;
  left:7px;
  top:150px;
  width:50px;
  height:25px;
}
#u1944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1944_input {
  font-family:'应用字体';
}
#u1945 {
  position:absolute;
  left:151px;
  top:150px;
  width:50px;
  height:25px;
}
#u1945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1945_input {
  font-family:'应用字体';
}
#u1946 {
  position:absolute;
  left:7px;
  top:234px;
  width:20px;
  height:16px;
}
#u1947 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1948 {
  position:absolute;
  left:7px;
  top:289px;
  width:20px;
  height:16px;
}
#u1949 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1950 {
  position:absolute;
  left:7px;
  top:355px;
  width:20px;
  height:16px;
}
#u1951 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1952 {
  position:absolute;
  left:7px;
  top:416px;
  width:20px;
  height:16px;
}
#u1953 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1954 {
  position:absolute;
  left:94px;
  top:45px;
  width:80px;
  height:25px;
}
#u1954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1954_input {
  font-family:'应用字体';
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1955 {
  position:absolute;
  left:14px;
  top:50px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 117, 117, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1957 {
  position:absolute;
  left:0px;
  top:709px;
  width:739px;
  height:145px;
  text-align:left;
}
#u1958 {
  position:absolute;
  left:2px;
  top:2px;
  width:735px;
  word-wrap:break-word;
}
#u1959 {
  position:absolute;
  left:7px;
  top:530px;
  width:20px;
  height:16px;
}
#u1960 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1961 {
  position:absolute;
  left:271px;
  top:45px;
  width:80px;
  height:25px;
}
#u1961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1961_input {
  font-family:'应用字体';
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1962 {
  position:absolute;
  left:191px;
  top:50px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1964 {
  position:absolute;
  left:94px;
  top:75px;
  width:80px;
  height:25px;
}
#u1964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1964_input {
  font-family:'应用字体';
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1965 {
  position:absolute;
  left:14px;
  top:80px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1967 {
  position:absolute;
  left:271px;
  top:74px;
  width:80px;
  height:25px;
}
#u1967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1967_input {
  font-family:'应用字体';
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1968 {
  position:absolute;
  left:191px;
  top:76px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1970 {
  position:absolute;
  left:441px;
  top:44px;
  width:80px;
  height:25px;
}
#u1970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1970_input {
  font-family:'应用字体';
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1971 {
  position:absolute;
  left:361px;
  top:49px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1973 {
  position:absolute;
  left:618px;
  top:44px;
  width:80px;
  height:25px;
}
#u1973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1973_input {
  font-family:'应用字体';
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1974 {
  position:absolute;
  left:538px;
  top:49px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1976 {
  position:absolute;
  left:441px;
  top:74px;
  width:80px;
  height:25px;
}
#u1976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1976_input {
  font-family:'应用字体';
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1977 {
  position:absolute;
  left:361px;
  top:79px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1979 {
  position:absolute;
  left:618px;
  top:73px;
  width:80px;
  height:25px;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1979_input {
  font-family:'应用字体';
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1980 {
  position:absolute;
  left:538px;
  top:75px;
  width:80px;
  height:16px;
  color:#000000;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:36px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:608px;
  width:852px;
  height:36px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984 {
  position:absolute;
  left:7px;
  top:571px;
  width:20px;
  height:16px;
}
#u1985 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1986 {
  position:absolute;
  left:11px;
  top:483px;
  width:20px;
  height:16px;
}
#u1987 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1988 {
  position:absolute;
  left:211px;
  top:150px;
  width:50px;
  height:25px;
}
#u1988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1988_input {
  font-family:'应用字体';
}
#u1989 {
  position:absolute;
  left:78px;
  top:150px;
  width:50px;
  height:25px;
}
#u1989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1989_input {
  font-family:'应用字体';
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000000;
}
#u1990 {
  position:absolute;
  left:14px;
  top:13px;
  width:166px;
  height:22px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000000;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
